/MatrixCalculator/nbproject/private/
/MatrixCalculator/build/
/CashInOut System/nbproject/private/
/MachineProblem 1/nbproject/private/
/MachineProblem 1/build/
/Money Converter FA2/nbproject/private/
/Money Converter FA2/build/
/interest rate bank FA2/nbproject/private/
/interest rate bank FA2/build/
/MP2 Airline Seat Booking Simulator/nbproject/private/
/MP2 Airline Seat Booking Simulator/build/
/m5 Intro to OOP/nbproject/private/
/m5 Intro to OOP/build/
/`intro to OOP/nbproject/private/
/`intro to OOP/build/
